{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
    <a class="navbar-brand text-white" href="{% url '' %}">Chatbot</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-white justify-content-end" id="navbarNav">
        <ul class="navbar-nav ">
            {% if user.is_active %}
            <input type="hidden" name="usuario" id="usuario" value="{{ user }}">
            <script src="{% static 'js/conexion.js'%}"></script>
    
            <h1> {{ user }}</h1>
            <input type="hidden" name="usuario" id="usuario" value="{{ user }}">
            
            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/fox.jpg" width="40" height="40" class="rounded-circle">
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Edit Profile</a>
                  <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
                </div>
              </li>
            {% else %}
            {{user.is_activate}}
            <li class="nav-item">
                <a class="nav-link " href="{% url 'registro' %}">Registro</a>
                
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'inicio' %}">Login</a>
            </li>
            {% endif %}


        </ul>
    </div>
</nav>